* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}

html, body {
    height: 100%;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
    justify-content: space-between;
} 

nav {
    background: #313131;
    color: white;
    text-align: center;

    padding: 1em 0;

}

img{
    width: 100%;  
    height: 250px;
}

#top {
    display: flex;
    flex-direction: column;
    padding: 3em 0;
    

}

#inputs {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

}

.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-self: center;
}

.subtotal input{

    align-self: center;
    width: 85%;
}

.tip-percentage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tip-percentage input{

    align-self: center;
    width: 85%;
}

#top label {
    font-size: 0.8em;
}

input {
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0.7em 0.5em;
    font-size: 1em;
    text-align: center;
    
}

input::placeholder {
    color: lightgray;
}

#calculate-btn {
    display: block;
    /* width: 100%; */
    background: #FF845C;
    color: white;
    text-align: center;
    font-size: 0.9em;

    text-decoration: none;
    padding: 01em 1em;
    margin: 2em 1em 1em 1em;
}

#tip-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;

    padding: 1em;
}

#tip-area h2 {
    font-size: 3em;
}

.total-after-tip-label {
    color: rgb(180, 180, 180);
    font-size: 1em;
}

footer {
    background: #313131;
    color: white;
    text-align: center;

    padding: 1em 0;

}

footer a {
    color: white;
}